
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Filtro</ion-title>
    <ion-menu-button slot="start" color="light"></ion-menu-button>
  </ion-toolbar>
      <br>
  <ion-toolbar  color="" >
    <ion-searchbar [(ngModel)] = "searchJogador" (keyup)="toFilter($event)" 
                    (ionClear) ="clearFilter()" placeholder="Pesquisar">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b> 
                  Vaga Analista de TI <br>
                  Rio de Janeiro <br>
                  Salário: R$ 4000 <br>
                  Jornada: 8hrs 
              
              </b>
              <div class="container-form-btn">
                <button class="form-btn custom-font" (click)="login()">
                  Candidatar-se
                </button>
              </div>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b> 
                  Vaga Desenvolvedor JAVA <br>
                  Rio de Janeiro <br>
                  Salário: R$ 6000 <br>
                  Jornada: 8hrs 
              
              </b>
              <div class="container-form-btn">
                <button class="form-btn custom-font" (click)="login()">
                  Candidatar-se
                </button>
              </div>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b> 
                  Vaga Analista de TI <br>
                  Rio de Janeiro <br>
                  Salário: R$ 7000 <br>
                  Jornada: 8hrs 
              
              </b>
              <div class="container-form-btn">
                <button class="form-btn custom-font" (click)="login()">
                  Candidatar-se
                </button>
              </div>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b> 
                  Vaga Analista de TI <br>
                  Rio de Janeiro <br>
                  Salário: R$ 4000 <br>
                  Jornada: 8hrs 
              
              </b>
              <div class="container-form-btn">
                <button class="form-btn custom-font" (click)="login()">
                  Candidatar-se
                </button>
              </div>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b> 
                  Vaga Analista de TI <br>
                  Rio de Janeiro <br>
                  Salário: R$ 4000 <br>
                  Jornada: 8hrs 
              
              </b>
              <div class="container-form-btn">
                <button class="form-btn custom-font" (click)="login()">
                  Candidatar-se
                </button>
              </div>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>