<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Configurações</ion-title>
    <ion-menu-button slot="start" color="light"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="full">
        <ion-label position="floating"><b>Sobre</b></ion-label>
        <br>
        <p> Somos um empresa que disponibilza vagas de empregos pelo Brasil todo.</p>
        
    </ion-item>
    
    <ion-item lines="full">
      <ion-label position="floating"><b>Termos de uso</b></ion-label>
      <br>
      <p> A empres oferece informações gratuitas e pagas que são disponilizadas através das assinaturas do cliente.</p>
     
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating"><b>Segurança</b></ion-label>
      <br>
      <p> A empresa oferece informações gratuitas e pagas que são disponilizadas através das assinaturas do cliente.</p>
   
    </ion-item>

</ion-content>
