<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Acesso do usuário</ion-title>
    <ion-menu-button slot="start" color="light"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div class="wrap-input">
      <input class="input" type="email" name="email" placeholder="EMAIL" [(ngModel)]="userLogin.email">
    </div>
    <div class="wrap-input">
      <input class="input" type="password" name="password" placeholder="SENHA" [(ngModel)]="userLogin.password">
    </div>

    <div class="container-form-btn">
      <button class="form-btn custom-font" (click)="login()">
        Entrar
      </button>
    </div>
  </form>
  
    <p class="ion-text-center custom-font"> 
      <a href=""> Esqueci minha senha</a></p>
 
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="ion-text-center custom-font"> Não possui conta?
      <a href="pages/cadastro"> Clique aqui</a></p>
  </ion-toolbar>
</ion-footer>
