<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Assinaturas</ion-title>
    <ion-menu-button slot="start" color="light"></ion-menu-button>
  </ion-toolbar>
  <br>
  <ion-toolbar  color="" >
    <ion-searchbar [(ngModel)] = "searchJogador" (keyup)="toFilter($event)" 
                    (ionClear) ="clearFilter()" placeholder="Pesquisar">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-content>
    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <ion-label color="secondary">
                <b> 
                    Premium <br>
                    <br>
                    <br>
                </b>
                <ion-button class="btn" expand="block" (click)="ShowPremium()">Assinar</ion-button>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <ion-label color="secondary">
                <b> 
                    Empresarial<br>
                    <br>
                    <br>
                   
                
                </b>
                <ion-button class="btn" expand="block"(click)="ShowEmpresarial()">Assinar</ion-button>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <div class="container-form-btn">
      <button class="form-btn custom-font" (click)="ShowPage()">Voltar</button>
    </div>
</ion-content>
